@font-face {
  font-family: "Chicago";
  src: url("https://db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.eot");
  src: url("https://db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.svg#Chicago")
      format("svg");
}
