.card {
  background-color: #cacfcd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  &__image-container {
    padding: 0.5rem;
    // margin: 0.5rem;
    // background-color: grey;
  }
  &__img {
    border: solid 4px black;
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
  }
}
