.card {
  background-color: #F7F1E3;
  border: solid 5px #34332F;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__border {
    border-right: solid 3px #34332F;
    border-bottom: solid 3px #34332F;;
    border-radius: 5px;
  }

  &__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  &__image-container {
    padding: 0.5rem;
  }
  &__img {
    border: solid 4px black;
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
  }
}
