.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  margin: 0.5rem;

  &__input-file {
    border: 3px solid #34332f;
    border-radius: 5px;
    background-color: #f7f1e3;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 4rem;
    text-align: center;
  }

  &__input {
    border: 3px solid #34332f;
    border-radius: 5px;
    background-color: #f7f1e3;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 0.5rem;
  }

  &__button {
    border: 3px solid #34332f;
    border-radius: 5px;
    background-color: #f7f1e3;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 0.5rem;
    height: 5rem;
  }
}

.photo__container {
  background-color: #e07a5f;
  border-right: solid 5px #34332f;
  border-bottom: solid 5px #34332f;
  border-top: solid 3px #34332f;
  border-left: solid 3px #34332f;
  border-radius: 5px 5px 0 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -0.2rem;
  margin-left: -0.2rem;

  min-height: 15rem;

  &-border {
    margin: 0.5rem;
    border-right: solid 3px #34332f;
    border-bottom: solid 3px #34332f;
    border-radius: 5px;
  }
}
